.toggleswitch {
    position: relative;
    display: inline-block;
    width: 82px;
    height: 34px;
    margin-bottom: 0.4em;
    background: #B7B7B7 0% 0% no-repeat padding-box;
    border: 1px solid #B7B7B7;
    border-radius: 21px;
  }
  
  .toggleswitch .toggleswitchcheckbox {
    display: none;
  }
  
  .toggleswitch .toggleswitchlabel {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 34px;
    background-color: #c6c6c6;
  }
  
  .toggleswitch .toggleswitchinner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  
  .toggleswitch .toggleswitchswitch {
    display: block;
    position: absolute;
    top: -6px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background: transparent radial-gradient(closest-side at 87% 100%, #FF9100 0%, #CB0000 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 10px #6D0505;
    transition: all 0.3s ease-in 0s;
  }
  .toggleswitch .toggleswitchswitch2 {
    display: block;
    position: absolute;
    top: -6px;
    margin-left: -3px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background: transparent radial-gradient(closest-side at 87% 100%, #3EB9E5 0%, #0D1CB3 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 10px #0D1CB3;
    transition: all 0.3s ease-in 0s;
  }
  .toggleswitch .toggleswitchcheckbox:checked + .toggleswitchlabel .toggleswitchinner {
    margin-left: 0;
  }
  
  .toggleswitch .toggleswitchcheckbox:checked + .toggleswitchlabel .toggleswitchswitch {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .psticon {
    width: 13px;
    height: 13px;
    color: #ffffff;
    opacity: 1;
  }